@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.btn {
    display: inline-block;
    padding: 0.5em 1.5em;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: small;
}

.btn-primary {
    color: #fff;
    background: #16a083;
}

.btn-primary:hover {
    background: #117964;
    transition: background 0.3s ease-in-out;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
    display: none;
}

.navbar {
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    width: 100%;
    background: #fff;
    color: #000;
    opacity: 0.85;
    height: 50px;
    z-index: 12;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items {
    order: 2;
    display: flex;
}

.menu-items li {
    list-style: none;
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.menu-items a {
    text-decoration: none;
    color: #444;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
    color: #117964;
    transition: color 0.3s ease-in-out;
}

.logo {
    order: 1;
    font-size: 2.3rem;
    margin-bottom: 0.5rem;
}

.showcase-area {
    height: 50vh;
    background: linear-gradient( rgba(240, 240, 240, 0.144), rgba(255, 255, 255, 0.336)), url("showcase.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.6rem;
}

.main-title {
    text-transform: uppercase;
    margin-top: 1.5em;
}

#about {
    padding: 50px 0;
    background: #f5f5f7;
}

.about-wrapper {
    display: flex;
    flex-wrap: wrap;
}

#about h2 {
    font-size: 2.3rem;
}

#about p {
    font-size: 1.2rem;
    color: #555;
}

#about .small {
    font-size: 1.2rem;
    color: #666;
    font-weight: 600;
}

.about-img {
    flex: 1 1 400px;
    padding: 30px;
    transform: translateX(150%);
    animation: about-img-animation 1s ease-in-out forwards;
}

@keyframes about-img-animation {
    100% {
        transform: translate(0);
    }
}

.about-text {
    flex: 1 1 400px;
    padding: 30px;
    margin: auto;
    transform: translate(-150%);
    animation: about-text-animation 1s ease-in-out forwards;
}

@keyframes about-text-animation {
    100% {
        transform: translate(0);
    }
}

.about-img img {
    display: block;
    height: 400px;
    max-width: 100%;
    margin: auto;
    object-fit: cover;
    object-position: right;
}

.img-container {
    margin: 0 1rem;
    position: relative;
    overflow: hidden;
}

#footer h2 {
    text-align: center;
    font-size: 1.6rem;
    padding: 1.6rem;
    font-weight: 500;
    color: #fff;
    background: #333;
}

@media screen and (max-width: 768px) {
    .menu-items {
        /* Masquez le menu de navigation par défaut */
        flex-direction: column;
        /* Affichez les éléments du menu en colonne */
        position: absolute;
        /* Position absolue pour le menu burger */
        top: 50px;
        /* Ajustez la position verticale en fonction de votre en-tête */
        left: 0;
        background: #fff;
        width: 100%;
        box-shadow: 0px 5px 10px 0px #aaa;
        opacity: 0.85;
        z-index: 12;
    }
    .menu-items.active {
        display: flex;
        /* Affichez le menu burger lorsque la classe "active" est appliquée */
    }
    .menu-items li {
        /* Vos styles existants */
        margin: 1rem 0;
        /* Ajoutez de l'espace entre les éléments du menu */
    }
    .hamburger-lines {
        display: block;
        /* Affichez les lignes du menu burger */
        cursor: pointer;
        position: absolute;
        top: 20px;
        /* Ajustez la position verticale en fonction de votre en-tête */
        right: 20px;
        /* Ajustez la position horizontale en fonction de votre en-tête */
        z-index: 13;
        /* Placez-le au-dessus du menu burger */
    }
    .line {
        width: 30px;
        height: 4px;
        background: #444;
        margin: 6px auto;
        transition: background 0.3s ease-in-out;
    }
}