.product {
    display: inline-block;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #f0f0f0;
}

.product-box {
    border: 2px solid #333;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: inline-block;
}

.product-box h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.product-box p {
    font-size: 1.1em;
    margin-bottom: 15px;
}

.product-box button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

a {
    text-decoration: none;
    color: #4CAF50;
}

body {
    background-color: #f0f0f0;
}


/* Styles pour les smartphones (largeur d'écran jusqu'à 768px) */

@media screen and (max-width: 768px) {
    .product {
        height: auto;
        /* Ajustez la hauteur en conséquence */
    }
    .product-box {
        padding: 20px;
        /* Ajustez le rembourrage en conséquence */
    }
    .product-box h2 {
        font-size: 1.3em;
        /* Ajustez la taille de la police en conséquence */
    }
    .product-box p {
        font-size: 1em;
        /* Ajustez la taille de la police en conséquence */
    }
    .product-box button {
        padding: 8px 16px;
        /* Ajustez le rembourrage en conséquence */
        font-size: 0.9em;
        /* Ajustez la taille de la police en conséquence */
    }
}