@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.navbar {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #4CAF50;
}

.add_comment {
    text-decoration: none;
    color: #4CAF50;
}